---
import Image from "astro/components/Image.astro";

---
<div class="container mx-auto"><div class="custom-swiper swiper w-full h-[500px]">
  <div class=" swiper-wrapper">
    <div class=" swiper-slide">
        <Image src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 1" class="w-full h-full object-cover" width="300" height="500" />
    </div>
    <div class=" swiper-slide group">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 2" class="w-full h-full transition-all duration-100 object-cover group-hover:w-30" />
      <p>aaaaaaaa</p>
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 3" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 1" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 2" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 3" class="w-full h-full object-cover" />
    </div><div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 1" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 2" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 3" class="w-full h-full object-cover" />
    </div><div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 1" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 2" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 3" class="w-full h-full object-cover" />
    </div><div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 1" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 2" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 3" class="w-full h-full object-cover" />
    </div><div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 1" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 2" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 3" class="w-full h-full object-cover" />
    </div><div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 1" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 2" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 3" class="w-full h-full object-cover" />
    </div><div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 1" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 2" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 3" class="w-full h-full object-cover" />
    </div><div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 1" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 2" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 3" class="w-full h-full object-cover" />
    </div><div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 1" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 2" class="w-full h-full object-cover" />
    </div>
    <div class=" swiper-slide">
      <img src="https://img-zlr1.tv360.vn/image1/2025/02/05/14/1738740692247/c66855ae5acd.jpg" alt="Slide 3" class="w-full h-full object-cover" />
    </div>
  </div>

  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div></div>


<!-- Script khởi tạo Swiper -->
<script>
  import Swiper from "swiper";
  import { Navigation } from "swiper/modules";
  document.addEventListener("DOMContentLoaded", () => {
    new Swiper(".custom-swiper", {
      modules: [Navigation],
      slidesPerView: 1,
      loop: false,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
        enabled: true,
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 30,
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 40,
        },
      },
    });
  });
</script>
