---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/thumbs";
import '../styles/global.css';
import Banner from './Banner';
import Header from './Header.astro';
import Slider from './Slider.astro';
import ListItem from '@/components/common/Elements/ListItem/ListItem.astro';
import Product from "@/components/Product/Product.astro";

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
    <Header/>
    <Slider />
    <ListItem/>
    <Product/>
		<slot  />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
